#story {
  display:none;
}
#letter{
  display: none;
  background-image: url('../img/letterBG.jpg');
  background-size: cover;
  padding-bottom: 300px;
  margin: 15px;
  padding: 10px 10px 300px 10px;
}
#reciept{
  display: none;
  background-color: grey;
  padding: 10px;
  margin: 10px;
}
#bookingConfirmation{
  display: none;
  background-color: silver;
  padding: 10px;
  margin: 10px;
}
